<!-- (7) replaces home page -->
<h1>Search For a Movie</h1>
<form action="/results" method="GET">
  <input type="text" name="searching" placeholder="Enter search term.">
  <input type="submit">
</form>
